.card-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.card {
    width: 500px;
    height: 150px;
    border: solid 1px #999;
    border-radius: 3px;
    padding: 10px;
    margin: 10px;
}